# Dependências e Builds
node_modules/
dist/
dist-ssr/
build/
.vite/
.eslintcache

# Logs do ecossistema Node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos locais/configurações de ambiente do Front
*.local
.env.local
.env.*.local