HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Spring Boot extras ###
*.class
*.jar
*.war
hs_err_pid*
replay_pid*